body{
    background-color: red;
    color:blueviolet;
}
.addlink{
    background-color:black !important;
    border: 2px solid green !important;
    color: green !important;
}
.addlink:hover{
    background-color: green !important;
    border: 2px solid !important;
    color: black !important;
}